body{
    margin: 0px;
    background-color: #27301B !important;
    background-repeat: no-repeat;
}

h1{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF !important;
}

p{
    padding: 0px 50px 0px 50px;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    color: #CCCCCC;
}

ol{
    list-style: none;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    background-color: #505A42;
}

.header-top{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.link-sem-estilo{
    text-decoration: none;
    color: #CCCCCC;
}

.header-link{
    width: 33.33%;
    height: 50px;
    background-color: #505A42;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link:hover{
    animation-duration: 1s;
    animation-name: animacao-header;
    background-color: #7F8577;
}

.sobre-mim, .minhas-experiencias, .meus-projetos{
    height: 100vh;
}

.minhas-experiencias {
    padding-top: 100px;
}

img{
    max-width: 300px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.imagens{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

.contatos{
    height: 90vh;
    padding-top: 70px;
}

.icons-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-tamanho{
    font-size: 50px;
    color: #CCCCCC;
}

.icon-tamanho:hover{
    animation-duration: 1s;
    animation-name: animacao-icons;
    font-size: 80px;
}

.icon-estilo{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item{
    height: 30rem;
    background: #777;
    color: black;
    position: relative;
    background-position: center;
    background-size: cover;
}

.container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    padding-bottom: 20px;
}

@keyframes animacao-header{
    from {
        background-color: #505A42;
    }
    to {
        background-color: #7F8577;
    }
}

@keyframes animacao-icons{
    from {
        font-size: 50px;
    }
    to {
        font-size: 80px;
    }
}
